.home-container {
    margin-bottom: 15rem;
}

.main-img {
    width: 26rem;
}

.top-container {
    padding-top: 40rem;
    margin-left: 10rem;
    margin-top: -30rem;
}

.top-header-1 {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid white;
    width: fit-content;
}

.top-header-2 {
    color: white;
    font-weight: 600;
    font-size: 7rem;
}

.top-content {
    color: rgba(215, 215, 215, 0.625);
    font-size: 1.2rem;
    width: 40%;
}