.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.skills-container {
    background-color: rgb(40, 40, 40);
    width: 90%;
    border-radius: 5rem;
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.skills-title {
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
}

.skills-content {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: rgba(215, 215, 215, 0.625);
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top:4rem;
}

.skills-circles-container {
    padding-inline: 1.3rem;
    display: flex;
    transition: transform 0.5s ease;
    justify-content: space-evenly;
}

.skill-circle-item {
    /* Display three items at a time */
    padding: 1rem;
    width: 20rem;
    box-sizing: border-box;
    text-align: center;
}

.skill-progress-bar {
    color: rgb(0, 0, 0);
}

.skill-name {
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: white;
    background-color: black;
    padding: 1rem;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}